parameters:
    level: 5
    paths:
        - .
    excludePaths:
        - vendor
        - .docker
        - tools
        - logs
    phpVersion: 80400
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Legacy global variables from included files
        - '#Variable \$mysql might not be defined#'
        - '#Variable \$settings might not be defined#'
        - '#Variable \$ppbuser might not be defined#'
        - '#Variable \$db might not be defined#'
        - '#Variable \$lang_\w+ might not be defined#'
        - '#Variable \$loggedin might not be defined#'
        - '#Variable \$catid might not be defined#'
        - '#Variable \$boardid might not be defined#'
        - '#Variable \$threadid might not be defined#'
        - '#Variable \$postid might not be defined#'
        - '#Variable \$handler might not be defined#'
        # Admin variables from admin/header.inc.php
        - '#Variable \$admin_tbl1 might not be defined#'
        - '#Variable \$admin_tbl2 might not be defined#'
        - '#Variable \$admin_tbl3 might not be defined#'
        # Board/thread/category from context
        - '#Variable \$board might not be defined#'
        - '#Variable \$thread might not be defined#'
        - '#Variable \$category might not be defined#'
